<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.calculator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Calculator">
        <activity android:name=".MainActivity"
            android:windowSoftInputMode="adjustNothing">
            <!-- 키보드가 화면에 영향 안주게 함. -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ArenaSearch">
            <intent-filter>
                <action android:name="android.intent.action.ArenaSearch" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ArenaSearchResult">
            <intent-filter>
                <action android:name="android.intent.action.ArenaSearchResult" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 광고 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2671904183359974~8962254599"/>
    </application>

</manifest>